/* footer timer block */
.timer__items {
  display: flex;
  font-size: 48px;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 15px;
  text-align: center;
  font-size: 60px;
  font-family: 'Roboto', 'normal';
  font-weight: 600;
  color: black;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  position: absolute;
  right: -15px;
}
/* footer timer endblock */

/* confirm block */
.modal-body__get.disable {
  display: none;
}

.modal-body__get {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: burlywood;
  height: 6rem;
}

.modal-body__get span {
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: bold;
  color: black;
}
/* confirm endblock */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');