.timer__items {
  display: flex;
  font-size: 48px;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 15px;
  text-align: center;
  font-size: 60px;
  font-family: 'Roboto', 'normal';
  font-weight: 600;
  color: black;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  position: absolute;
  right: -15px;
}